.register-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

/* ფორმის ყუთი */
.register-form {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

/* სათაური */
.register-form h2 {
    margin-bottom: 25px;
    color: #333;
}

/* input ჯგუფი */
.form-group {
    text-align: left;
    margin-bottom: 20px;
}

/* label */
.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #555;
}

/* input */
.form-group input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.3s;
}

/* input focus */
.form-group input:focus {
    outline: none;
    border-color: #2a5298;
    box-shadow: 0 0 5px rgba(42,82,152,0.4);
}

/* ღილაკი */
.register-btn {
    width: 100%;
    padding: 12px;
    background: #2a5298;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
.register-btn:hover {
    background: #1e3c72;
    transform: translateY(-2px);
}
.switch-text {
    margin-top: 20px;
    font-size: 14px;
}

.switch-text a {
    color: #2a5298;
    text-decoration: none;
    font-weight: 600;
}

.switch-text a:hover {
    text-decoration: underline;
}

.google-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 18px;

    border: 1px solid #ddd;
    border-radius: 6px;

    background-color: white;
    color: #444;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;

    width: 100%;

    margin-top: 10px;

    transition: 0.3s;
}

.google-btn img {
    width: 20px;
    height: 20px;
}

.google-btn:hover {
    background-color: #f5f5f5;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#google-text {
    margin-left: 30px;
}
